.slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 10px;
  padding: 9px 0;
}

.slide {
  position: relative;
  margin-right: 20px;
  padding: 8px 5px 20px 5px;
  margin-left: 30px;
}

.slide img {
  width: 140px;
  height: 210px;
  border-radius: 16px;
  z-index: 0;
  cursor: pointer;
}

.imageNumber {
  position: absolute;
  margin-top: 80%;
  margin-left: -15%;
  font-size: 105px;
  z-index: 1;
  background-color: transparent;
  color: #242A32;
  text-shadow: -1px 0 #0296E5, 0 1px #0296E5, 1px 0 #0296E5, 0 -1px #0296E5;
}


/* scrollbar of slider */
.slider::-webkit-scrollbar {
  display: none;
}
