.slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
  padding: 9px 0;
}

.slide {
  position: relative;
  margin-right: 20px;
  padding: 8px 5px 20px 5px;
  margin-left: 30px;
}

.slide img {
  width: 140px;
  height: 210px;
  border-radius: 16px;
  z-index: 0;
  cursor: pointer;
}

.imageNumber {
  position: absolute;
  margin-top: 97%;
  margin-left: -14%;
  font-size: 80px;
  z-index: 1;
  background-color: transparent;
  color: #e4e4e4;
}

/* scrollbar of slider */
.slider::-webkit-scrollbar {
  display: none;
}
